<extend name="$_home_public_layout"/>

<block name="style">
    <style type="text/css">
        /* 顶部导航样式 */
        body {
            padding: 0;
        }
        .login-nav {
            height: 110px;
            padding: 30px;
        }
        @media (max-width: 768px) {
            .login-nav {
                height: 50px;
                padding: 8px;
            }
            .login-nav .logo {
                height: 32px;
            }
        }
    </style>
</block>

<block name="header">
    <div class="container login-nav">
        <div class="row">
            <div class="col-xs-5 col-sm-4 col-md-3 col-lg-2">
                <php>if(C('WEB_SITE_LOGO')):</php>
                    <a href="{:C('HOME_PAGE')}"><img alt="logo" class="logo img-responsive" src="{$Think.config.WEB_SITE_LOGO|get_cover}"></a>
                <php>else:</php>
                    <a href="{:C('HOME_PAGE')}"><img alt="logo" class="logo img-responsive" src="__HOME_IMG__/logo/logo_with_title_dark.png"></a>
                <php>endif;</php>
            </div>
            <div class="col-xs-7 col-sm-5 col-sm-offset-3 col-md-3 col-md-offset-6 col-lg-offset-7 text-right">
                <span class="hidden-xs">还没有账号？</span>
                <a href="{:U('User/Home/User/register', null, true, true)}">
                    <span class="btn btn-primary-outline"> 立即注册</span>
                </a>
            </div>
        </div>
    </nav>
</block>

<block name="jumbotron">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 hidden-xs">
                    <img class="img-responsive" src="__HOME_IMG__/index/login-left.png">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="panel">
                        <h3 class="text-center">{$meta_title}</h3>
                        <div class="panel-body">
                            <form class="login-form" action="__SELF__" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control input-lg" placeholder="邮箱/手机号/用户名" name="username">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control input-lg" placeholder="请输入密码" name="password">
                                </div>
                                <div class="form-group clearfix">
                                    <label class="checkbox-inline" for="remember-login">
                                        <input id="remember-login" type="checkbox" name="remember_login" checked="checked">
                                        <span>保持登录</span>
                                    </label>
                                    <a class="text-muted pull-right" href="{:U('resetPassword')}">忘记密码？</a>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary-outline btn-lg btn-block submit ajax-post" target-form="login-form">登录</button>
                                </div>
                                <div class="form-group">
                                    {:hook('SyncLogin')} <!-- 第三方登陆钩子 -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="main"></block>

<block name="footer">
    <div class="container text-center">
        <ul class="list-inline">
            <li><span class="copyright">{:C('WEB_SITE_COPYRIGHT')}</span></li>
            <li><a class="icp" href="http://www.miibeian.gov.cn/" target="_blank">{:C('WEB_SITE_ICP')}</a></li>
        </ul>
    </div>
</block>
